<head>
    <meta charset="utf-8">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.css" rel="stylesheet" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.0.8/dist/cdn/beer.min.js"></script>
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@0.1.5/dist/cdn/material-dynamic-colors.min.js"></script>
    <script src='https://analytics.stacc.cc/api/script/4Wx5IIzJGQ8p'></script>
    <script src="/js/clipboard.js"></script>
    <meta name="keywords" content='{{ with .Params.keywords }}{{ delimit . " , "}}{{ end }}' />
    {{ with .Site.Params.description }}
    <meta name=" description" content="{{ . }}">
    {{ end }}
    <meta name="author" content="Daniel Benge">
    <meta name="keywords" content="Daniel, Dragon863, Cybersecurity, Alexa, Blog">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>