<nav class="right white-text m l">
    <img src="/img/profile-picture.png" class="circle large transparent" alt="Profile Picture" \>
    <a href="/">
        <i>home</i>
        <div>Home</div>
    </a>
    <a class="active" href="/posts/">
        <i>book</i>
        <div>Blog</div>
    </a>
    <a data-ui=" #share" onclick="document.getElementById('copyText').innerText='Copy URL'">
        <i>share</i>
        <div>Share</div>
    </a>
</nav>
<div class="modal" id="share">
    <h5 class="white-text bold">Share Page</h5>
    <div>Send the link to this page!</div>
    <nav class="left-align">
        <nav class="no-space">
            <button class="border left-round" onclick="sharePage()">
                <i>link</i>
                <span id="copyText">Copy URL</span>
            </button>
            <button class="border right-round"
                onclick="document.location.href='mailto:?body=Check%20out%20this%20article!%20' + encodeURIComponent(window.location.href)">
                <i>mail</i>
                <span>email</span>
            </button>
        </nav>

    </nav>
</div>
<nav class="bottom s bottom-shadow">
    <a href="/">
        <i>home</i>
    </a>
    <a href="/posts/" class="active">
        <i>book</i>
    </a>
    <a data-ui="#share" onclick="document.getElementById('copyText').innerText='Copy URL'">
        <i>share</i>
    </a>
</nav>
<div class="toast green white-text" id="toast">
    <i>done</i>
    <span>Copied URL!</span>
</div>